* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    background-color: black;
    color: antiquewhite;
}

#root {
    display: flex;
    justify-content: center;
}

.App {
    width: 800px;
    color: antiquewhite;
}

.item {
    display: flex;
    padding: 15px;
    border: 2px solid rgb(77, 0, 128);
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
}

.heading {
    text-align: center;
}

.item__btn {
    border: 1px solid rgb(77, 0, 128);
    color: white;
    padding: 8px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
}